<?xml version="1.0" encoding="utf-8"?>

<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android">
    <CheckBoxPreference android:title="Write GPS track"
        android:defaultValue="true"
        android:summary="This option, if activated, allows OpenSurveyour to write GPS track themselves."
        android:key="writeGPS" />
</PreferenceScreen>